.PokemonCard {
  border-radius: 20px;
  padding: 1em;
  margin: 1em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.PokemonCard-title {
  text-align: center;
  color: #999;
}

.PokemonCard-favorite {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
